.header {
    background-color: #1eff29;
    text-align: center;
    font-family: Arial, sans-serif;
}

.header h1 {
    margin: 0;
    font-size: 45px;
}

.header p {
    font-size: 20px;
    font-style: italic; 
}