body {
    font-family: Arial, sans-serif;;
    background-color: #f4f4f9;
}

h1 {
    color: #1e90ff;
    text-align: center;
    font-size: 20px;
}

h1.contact {
    font-size: 18px;
}

p.contact {
    font-size: 12px;
}